<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>user</h2>
<form method="post" th:action="@{/test/form}">
    <br><input th:name="username" type="text" placeholder="username">
    <br><input  th:name="password" type="password" placeholder="password">
    <br><input th:name="age" type="number" placeholder="age">
    <br><input th:name="gender" type="radio" value="true">
    <br><input th:name="gender" type="radio" value="false">
    <br><button type="submit">logIn</button>
</form>
</body>
</html>