<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>user</h2>
<form method="post" th:action="@{/add_user}">
    <input th:name="username">
    <input th:name="password">
    <input th:name="age">
    <button type="submit">logIn</button>
</form>
<br>
<h2>Post</h2>
<form method="post" th:action="@{/add_post}">
    <input th:name="title" >
    <input th:name="body">
    <button type="submit">logIn</button>
</form>
</body>
</html>