<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'id:       ' + ${user.getId()}"></p>
<p th:text="'username: ' + ${user.getUsername()}"></p>
<p th:text="'password: ' + ${user.getPassword()}"></p>
<p th:text="'age:      ' + ${user.getBirthDay()}"></p>
<p th:text="'gender:   ' + ${user.getGender()}"></p>
<p th:text="'lastLogIn:' + ${user.getLastLogIn()}"></p>
<p th:text="'regTime:  ' + ${user.getRegistrationTime()}"></p>
<p th:text="'rating:   ' + ${user.getRating()}"></p>
</body>
</html>