<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Innorumors | Not found</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}">
</head>

<body>

<div class="modal-wrap">

    <div class="modal-bodies">
        <div class="modal-body modal-body-step-1 is-showing">
            <div class="title" th:text="${title}"></div>
            <div class="description" th:text="${description}"></div>
                <div class="text-center">
                    <a th:href="@{/}">
                        <div class="button">На главную</div>
                    </a>
                    <a>
                        <div class="button" onclick="history.back()">Назад</div>
                    </a>
                </div>
        </div>


    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-2.2.4.min.js}"></script>


</body>
</html>
