<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Innorumors | Регистрация</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}">

</head>

<body>

<div class="modal-wrap">

    <div class="modal-bodies">

        <!--            registration form-->
        <div class="modal-body modal-body-step-1 is-showing">

            <div class="title">Зарегистрируйтесь</div>
            <div class="description">Заполните форму</div>

            <form name="registration" method="post" th:action="@{/user/add}">
                <input type="text" name="username" placeholder="Логин*"/>
                <input type="password" name="password" placeholder="Пароль*"/>
                <input type="password" name="confirm_password" placeholder="Повторите пароль*"/>
                <div class="text-center">
                    <button class="button" type="submit">Регистрация</button>
                </div>
            </form>

        </div>

    </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>


</body>
</html>
