<div xmlns:th="http://www.thymeleaf.org">

    <!--    footer -->
    <div class="footer-search">

    </div>

    <section class="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info-part-one320">

                        <h4>Адрес:</h4>
                        <p>Иннополис, Университетская ул., 1</p>
                        <h4>Контакты:</h4>
                        <p>Телефон поддержки: 8 (495) 587-88-89</p>
                        <p>Email: bigbase@bk.ru</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="footer-social">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Права защищены 2019 Innorumors | <strong> Иннополис</strong></p>
                </div>
                <div class="col-md-6">
                    <div class="social-right2389">
                        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>