<div xmlns:th="http://www.thymeleaf.org">
    <div class="top-menu-bottom932">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Переключить навигацию</span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">
                        <img th:src="@{/image/download.gif}" alt="Logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                        <div class="row">

                            <!--                        regButton-->
                            <div class="col-md-6">
                                <div class="navbar-menu-left-side239">
                                    <ul>
                                        <li>
                                            <a th:href="@{/login}">
                                                <i class="fa fa-user" aria-hidden="true"></i>Вход/регистрация
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--                        Search-->
                            <div class="col-md-6">
                                <div class="navbar-serch-right-side">
                                    <form class="navbar-form" role="search" method="post" th:action="@{/search}">
                                        <div class="input-group add-on">
                                            <input class="form-control form-control222" placeholder="Поиск"
                                                   name="srch-term"
                                                   id="srch-term" type="text">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default btn-default2913" type="submit"><i
                                                        class="glyphicon glyphicon-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>