<div xmlns:th="http://www.thymeleaf.org">
    <aside class="col-md-3 sidebar97239">
        <!--              highest part-->
        <div class="status-part3821">
            <h4>Меню</h4>
            <li><a th:href="@{/}">Главная</a></li>
            <hr>
            <li><a th:href="@{/post/create}">Новый пост</a></li>
            <hr>
            <li><a th:href="@{/user/my_posts}">Мои посты</a></li>
            <hr>
            <li><a th:href="@{/user/all}">Пользователи</a></li>
            <hr>
            <li><a th:href="@{/user/properties}"> Настройки </a></li>
            <hr>
            <li><a th:href="@{/contacts}">Контакты</a></li>
        </div>
        <!--               end of Highest points -->
    </aside>
</div>